
/* Your CSS Code here. */
body {
  margin: 0;
  padding: 0;
}

.box {
  width: 300px;                 /* exact width */
  background-color: lightblue;  /* background color */
  border: 15px solid blue;      /* border */
  padding: 50px;                /* padding */
  margin: 20px;                 /* margin */
  box-sizing: content-box;      /* IMPORTANT for test cases */
}
